<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
</head>

<body>
    <header class="header">
        <img src="/images/location.png" class="header__image" alt="an image of a map and location">
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a> | 
            <a href="#">Help</a> | 
            <a href="/">Home</a>
        </nav>
    </header>


    <div class="mian__wrapper">
        <main class="main row">
            <section class="main__tagging tagging col-3">
                <h2>Tagging</h2>

                <form id="tag-form" action="/tagging" method="post">

                    <fieldset class="tagging__fieldset">

                        <legend>Add a new GeoTag</legend>

                            <label for="latitude_tagging">Latitude:</label>
                            <input type="text" id="latitude_tagging" name="latitude_tagging" value="<%= latitude %>" placeholder="49.01379" disabled>    
        
                            <label for="longitude_tagging">Longitude:</label>
                            <input type="text" id="longitude_tagging" name="longitude_tagging" value = "<%= longitude %> placeholder="8.390071" disabled>
        
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" placeholder="e.g. Schloss Karlsruhe" required maxlength="10" pattern="[A-Za-z]+">
        
                            <label for="hashtag">Hashtag:</label>
                            <input type="text" id="hashtag" name="hashtag" placeholder="e.g. #schloss" maxlength="11" pattern="#[A-Za-z]+">

                            <input type="submit" value="Add Tag" >

                    </fieldset>

                </form>

            </section>

            <section class="main__discovery discovery col-9">
                <h2 class="discovery__title">Discovery</h2>

                <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                    <fieldset class="discovery__fieldset">

                        <legend>Search</legend>

                        <div>
                            <label for="searchterm">Search term or keywords:</label>
                            <input type="text" id="searchterm" name="searchterm" placeholder="e.g. Karlsruhe" required>    

                            <input type="hidden" id="latitude_discovery" name="latitude_discovery" value ="<%= latitude %>>
                            <input type="hidden" id="longitude_discovery" name="longitude_discovery" value = "<%= longitude %>">
                        </div>
        
                        <div>
                            <input type="submit" value="Search">
                        </div>

                    </fieldset>

                </form>

                <div class="discovery__wrapper row">
                    <div class="discovery__taglist col-5">
                        <ul class="discovery__results" id="discoveryResults">
                            <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                                <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                            <% }); %>
                        </ul>
                    </div>

                    <div class="discovery__map col-7">
                        <img src="/images/mapview.jpg" alt="a map with locations" id="mapView">
                        <span>Result map</span>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer class="footer row">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>

    <script src="/javascripts/geotagging.js"></script>
</body>

</html>
